.table__container {
    height: 250px;
}

.table__body {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

td,
th {
    border: solid 1px black;
    font-size: 22px;
    width: 200px;
    height: 30px;
    text-align: center;
}

th {
    background-color: rgb(95, 255, 161);
}

.sort__button {
    font-size: 18px;
    color: rgb(13, 49, 255);
}

.sort__button:active {
    color: red;
}